name: Publish docs
on:
  release:
    types: ["created"]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Poetry
        uses: abatilo/actions-poetry@v3
        with:
          poetry-version: 1.8.2
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: poetry
      - name: Install Python dependencies
        run: poetry install
      - name: Build and publish
        run: poetry run mkdocs gh-deploy --force
